@using orion.web.Reports
@using orion.web.Employees
@model orion.web.Reports.QuickJobTimeReport.QuickJobTimeReportCriteria



<form asp-action="JobDetailReport">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">

            @Html.EditorFor(x => x.PeriodSettings, "~/UI/Views/Reports/ReportingPeriod.cshtml")
            <div class="form-group">
                <label asp-for="SelectedJobId"> For Job(s) </label>
                <select asp-for="SelectedJobId" class="form-control"
                        asp-items="@(new SelectList(Model.AvailableJobs, "JobId", "FullJobCodeWithName"))"></select>
            </div>
            @if(User.IsInRole(UserRoleName.Admin))
            {
                <div class="form-group">
                    <input asp-for="ShowAllEmployeesForJob" type="checkbox" />
                    <label asp-for="ShowAllEmployeesForJob" class="control-label"></label>
                    <span asp-validation-for="ShowAllEmployeesForJob" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
    <input type="submit" value="Download" class="btn btn-default" />

</form>

