@model orion.web.Jobs.JobDTO

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="List">Job List</a></li>
    <li class="breadcrumb-item active"> Edit @Model.FullJobCode</li>
</ol>
<div class="row">
    <div class="row">
        <div class="col-md-2 form-inline">
            <div class="form-group">
                <label asp-for="JobCode" class="control-label"></label>
                <input asp-for="JobCode" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="col-md-5 form-inline">
            <div class="form-group">
                <label asp-for="Client.ClientName" class="control-label"></label>
                <select disabled class="form-control">
                    <option>@Model.Client.ClientName</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 form-inline">
            <div class="form-group">
                <label asp-for="Site.SiteName" class="control-label"></label>
                <select disabled class="form-control">
                    <option>@Model.Site.SiteName</option>
                </select>
            </div>
        </div>
    </div>

    <form asp-action="Edit">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea asp-for="JobName" class="form-control" placeholder="Brief Description"></textarea>
                    <span asp-validation-for="JobName" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Target Hours</label>
                    <input asp-for="TargetHours" class="form-control" placeholder="XXX.X" />
                    <span asp-validation-for="TargetHours" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a class="btn btn-default" asp-action="List">Back to List</a> <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

      
        <input type="hidden" asp-for="JobId" class="form-control" />

    </form>
</div>




