@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<style>
    #login-image {
        background-image: url("/images/wind-turbine.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    #login-controls {
        height:80vh;
    }
    #login-wrapper {
        margin: 8px;
        padding: 4%;
    }

  


</style>
<div class="row grey" style="margin-bottom: 0;height:100vh">
    <div style="height:100vh" class="col s3 hide-on-small-only red darken-4">
        <div style="padding-top:15vh">
            <img src="/images/orion_logo_large_white.png" width="200">
        </div>
        <h4 class="white-text">Need an account?</h4>
        <hr class="white-text">
        <div class="white-text">
            <p>
                You will need to work with your administrator to get an account created. They will provide you with credentials to get you started.
            </p>
        </div>
    </div>
    <div id="login-image" class="col s9 grey darken-3" style="height:100vh;">
        <div class="row" >
            <div class="col s2 hide-on-small-only"></div>
            <div class="col m8 s12">

                <div id="login-controls" class="valign-wrapper">

                    <div id="login-wrapper" class="white z-depth-5">

                        <form method="post">
                            <div asp-validation-summary="All" class=""></div>
                            <div class="input-field">

                                <input asp-for="Input.Email" class="validate" />
                                <label asp-for="Input.Email">Username</label>

                            </div>
                            <div class="input-field">
                                <input asp-for="Input.Password" class="validate" />
                                <label asp-for="Input.Password">Password</label>

                            </div>
                            <span asp-validation-for="Input.Email"></span>
                            <span asp-validation-for="Input.Password"></span>
                            <div class="">
                                <button type="submit" class="btn red darken-3 waves-effect waves-white">Log in</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div class="col s2 hide-on-small-only"></div>


            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }

        </div>
    </div>
</div>



