@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Registration can be completed by contacting your administrator.</p>
</header>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
