@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li class="right">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="waves-effect waves-light">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="right">
        <form asp-action="Logout" asp-controller="Home" method="post" id="logoutForm">
            <button type="submit" class="grey darken-2 btn-small text-white waves-effect waves-light">Logout</button>
        </form>
    </li>    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}