@model orion.web.TimeEntries.TimeSpentViewModel
<td class="form-inline time-cell" day="col-@Model.DayOfWeek.ToString().ToLower()" autosum>
    <div class="form-group skinny">
        <input asp-for="Hours" class="form-control"  />
    </div>
</td>

<td class="form-inline warning time-cell" day="ot-col-@Model.DayOfWeek.ToString().ToLower()" autosum style="display:none">
    <div class="form-group skinny ot-cell-gradient">
        <input asp-for="OvertimeHours" class="form-control"  />
    </div>
</td>

