@model orion.web.api.ArcFlashlabelExpenditure


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="job-id"></label>
            <input id="job-id" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label" for="job-id"></label>
            <input id="job-id" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label" for="job-id"></label>
            <input id="job-id" class="form-control" />
        </div>
        <input type="button" value="save" />

    </div>
</div>
<div id="app-2">
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
    </span>
</div>
@section scripts {
    <script type="text/javascript" src="~/vue/dev.vue.js"></script>
    <script type="text/javascript">
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        })
    </script>
}

