@model orion.web.TimeEntries.TimeSpentViewModel
<td class="form-inline" day="col-@Model.DayOfWeek.ToString().ToLower()" autosum>
    <div class="form-group skinny">
        <input asp-for="Hours" class="form-control" placeholder="XX.XX" />
        @Html.HiddenFor(x => x.TimeEntryId)
        <a href="#" class="ot-button">
            <span class="glyphicon glyphicon-time"></span>
        </a>
    </div>
</td>

<td class="form-inline" day="ot-col-@Model.DayOfWeek.ToString().ToLower()" autosum style="display:none">
    <div class="form-group skinny">
        <input asp-for="OvertimeHours" class="form-control" placeholder="XX.XX" />        
    </div>
</td>

