@using orion.web.Employees

@model string

<div class="jumbotron">
    @if(User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>

        <a class="btn btn-lg btn-success" href="@Url.Action("Index","TimeEntry")">Enter Time</a>
        <a class="btn btn-lg btn-success" href="@Url.Action("Index","Jobs")">My Jobs</a>
        @if(User.IsInRole(UserRoleName.Admin))
        {
            <a class="btn btn-lg btn-success" href="@Url.Action("Index","Reports")">View Reports</a>
        }

    }

    else
    {
        <h1>Login to use the system</h1>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-success">Login</a>
    }
</div>