body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.breadcrumb {
    margin-top: 5px;
}
.body-content div {
    padding-top: 5px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input {
    max-width: 280px;
}

.vertical-bottom {
    vertical-align: bottom;
}
.orion-form select,
textarea {
    max-width: 310px;
    padding: 3px 6px 3px 6px;
    font-size:12px;
}

select

ul {
    list-style-type: none;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
.form-group.skinny select {
    font-size: 10px;
    max-width: 95px;
    padding: 1px;
    line-height: 11px;
    height: 20px;
}
.form-group.skinny input {
    max-width: 55px;
    font-size: 10px;
    padding: 1px;
    line-height: 11px;
    height: 20px;
}
