/* label color */
.input-field label {
    color: #616161;
}

/* active label color 
    .input-field label[active] {
        color: #424242 !important;
    }
        */
/* label focus color */
.input-field input:focus + label {
    color: #424242 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #424242 !important;
    box-shadow: 0 1px 0 0 #424242 !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #616161 !important;
    box-shadow: 0 1px 0 0 #616161 !important;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 2px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #424242 !important;
}
