@model string



<h1>Reports</h1>
    <p>
        <a class="btn btn-success"  href="/reports/RunReport/TimePeriodReport" >View Time Period Report</a>
        <a class="btn btn-success" href="/reports/RunReport/DetailedJobReport">View Detailed Job Report</a>        
    </p>


