@using orion.web.Reports
@model orion.web.Reports.JobBasedReportSettings

<div class="form-group">
    <label asp-for="SelectedJobId"> For Job(s) </label>
    <select asp-for="SelectedJobId" class="form-control"
            asp-items="@(new SelectList(Model.AvailableJobs, "JobId", "FullJobCodeWithName"))">        
    </select>
</div>

