@using orion.web.Reports
@model orion.web.Reports.PayPeriodReport.PayPeriodReportCriteria

<form asp-action="PayPeriodReport">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="PayPeriodEnd" class="control-label"></label>
                <input asp-for="PayPeriodEnd" type="date" class="form-control" />
                <span asp-validation-for="PayPeriodEnd" class="text-danger"></span>
            </div>            
        </div>
    </div>
    <input type="submit" value="Download" class="btn btn-default" />
</form>